* {
    font-family: 'Open Sans', sans-serif !important; 
}
body {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(229,229,234,1) 100%) fixed;
    margin: 0;
}

a {
    color:black;
}
p {
    line-height:32px;
    margin-bottom:20px;
    font-weight: 500;
}

img {
    border: 20px solid white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: auto;
    flex: 1;
  }

/* Bootstrap */
.navbar-dark .navbar-brand {
    font-weight: bold;
    color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.btn-group {
    padding:10px;
}

.btn.btn-dark {
    margin-top: 10px;
}

/* Responsive sections */
.fwh-section {
    height: 100vh;
    box-sizing: border-box;
    padding: 35px;
    margin: auto;

}

.fwh-section p {
    margin: 0;
}

.fwh-section h2 {
    margin-top: 2%
}

/* Specific pages */

#homepage {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-left: 10%;
}

.about-container {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#experience {
    display: flex;
    justify-content: center;
    align-items: center;
}


#contact, footer {
    background-color: rgb(58,58,60);
    color: rgb(242, 242, 247);
}

#contact {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

